
<nav class="navbar navbar-light" style="background-color: #e3f2fd;" id="navbar">
  <!-- <div id="navbarText"> -->
    <ul class="nav" style="padding-left: 1em;">
      <li class="nav-item active">
        <%= link_to 'Home', root_path, class: 'nav-link' %>
      </li>
    </ul>
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link" href="#">Dishley</a>
      </li>
    </ul>
    <ul class="nav justify-content-end" style="padding-right: 1em;">
      <li class="nav-item">
        <a class="nav-link" href="#">Order</a>
      </li>
    </ul>
  <!-- </div> -->
</nav>
