@import 'bootstrap';

#map {
  height: 440px;
  width: 100%;
}

body {
  text-align: center;
}

nav a {
  color: #FFF;
}

card-text a {
  color: #6c757d;
  text-decoration: underline;
}

.card {
  border-width: 0;
}

.btn-light {
background-color: #E8E8E8;
}

.stripe-button-el {
  display: none !important;
}
